:root {
	--main-color: #FA6104;
	--orange-bg: #5d3d25;
}

.orangeBox {
	border-style: solid;
	border-color: var(--main-color);
	border-width: 1px;
	color: var(--main-color);
	background-color: var(--orange-bg);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial;
	background-color: #000;
}

form {
	padding: 3px;
	position: inline;
	top: 0;
	width: 100%;
}

form input {
	border: 0;
	padding: 10px;
}

#searchConfigBar {
	position: sticky;
	top: 0%;
	background: #00000011;
}

#searchCommand {
	width: 8%;
}

#searchPrefix {
	width: 10%;
}

#searchQuery {
	border-width: 3px;
	border-style: double;
	width: 30%;
}

#searchSuffix {
	width: 30%;
}

.smallConfig {
	padding: 1px;
	width: auto;
}

.clickableWord:hover {
	background: #543926;
}

label.smallConfig {
	color: var(--main-color);
}

form button {
	width: 9%;
	/*background: rgb(130, 224, 255);*/
	background-color: #5d3d25;
	padding: 10px;
}

#queries {
	list-style-type: none;
	background: #53291c;
	color: var(--main-color);
	position: fixed;
	width: 30em;
	margin-left: calc(100% - 30em);
}

#queries li {
	padding: 2px;
}

#queries li:hover {
	background: #693305;
}

#queryResults {
	list-style-type: none;
	padding: 0;
}

#queryResults li {
	color: var(--main-color);
	padding: 5px 10px;
	background: #352418;
}

#queryResults li:nth-child(odd) {
	color: var(--main-color);
	background: #291c12;
}